extends layout 
block content
	div(class='chat-room')
		h1(class='chat-room__name')=`${room.name}`
		div(class='chat-box')
			each message in room.messages
				div(class=`message ${currentUser.username === message.sender ? 'self' : 'other'}`)
					div(class='message__details')
						h1(class='message__name')=message.sender
						h1(class='message__time')=`${message.formattedStamp}`
					h1(class='message__text')=message.text

			
		form(class='chat-form', method='POST', action=`${room.url}/send`)
			div(class='chat-form__input-box')
				i(class='chat-form__input-icon fas fa-envelope')
				input(class='chat-form__input', type='text', placeholder='Enter your message', name='text', required)
			input(class='chat-form__submit', type='submit', value='Send')
